<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>org.thingswedo.exchange2glass.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>oauth2callback</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oauth2callback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>

<!-- 	  <filter>
    <filter-name>_ah_DevSocketFilter</filter-name>
    <filter-class>
      com.google.appengine.api.socket.dev.DevSocketFilter
    </filter-class>
    <init-param>
      <param-name>use-native-sockets</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>_ah_DevSocketFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->
	<servlet>
		<servlet-name>Exchange2glass</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.Exchange2glassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exchange2glass</servlet-name>
		<url-pattern>/exchange2glass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveSettings</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.SaveSettingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveSettings</servlet-name>
		<url-pattern>/saveSettings</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cron</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.CronServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cron</servlet-name>
		<url-pattern>/cron/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>notify</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.NotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>notify</servlet-name>
		<url-pattern>/notify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>singout</servlet-name>
		<servlet-class>org.thingswedo.exchange2glass.SingOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>singout</servlet-name>
		<url-pattern>/singout</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>/saveSettings</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!-- 
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	 -->
	<welcome-file-list>
		<welcome-file>info.jsp</welcome-file>
	</welcome-file-list>
</web-app>
